
html{
	width:100%;
	height:auto;
}

* {
	margin:0;
	padding:0;
}

* {
-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus{
	outline:none !important;
}

body{


    font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height:1.6em;
	text-align: left;
	margin: 0px auto !important;
	overflow-x: hidden;
	color: #999999;
	-webkit-font-smoothing: antialiased;
	width:100%;
	height: auto;
	background:#fff;


}
img{
	max-width:100%;
	border:none;
	height:auto;
	display:inline-block;
}

a{
	text-decoration:none !important;
}
button,
button:hover,
a,
a:hover{
	text-decoration:none !important;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}
a:focus{
	outline:none !important;
}
a:active{
	text-decoration:none !important;
}

textarea:focus, input:focus{
    outline: 0;
}

select:focus{
	outline:none !important;

}

ul{
	padding:0px;
	margin:0px;
	list-style:none;

}

h1{
	font-size:40px;
}

h2{
	font-size:36px;
}

h3{
	font-size:28px;
}

h4{
	font-size:24px;
}

h5{
	font-size:20px;
}

h6{
	font-size:16px;
}

h1,h2,h3,h4,h5,h6{
	margin:10px 0px;
}


p{
	margin-top:0px;
}

/************************/


.marginRow{
	margin-top:30px;
}

.section_header{
	display: none;
}

/************main css styling here*************/

header{
	background:#222;
	padding: 15px 0px;
}
.logo{}
.logo figure a img{}
.sitename{}
.sitename h4{
color: #fff;
margin-bottom: 0;
text-align: right;
text-transform: capitalize;
line-height: 40px;
}
.mainnavbararea{
	background: #424548;
	border:none;
	border-radius: 0px;
	margin: 0px;
}
.maincollapsearea{}
.maincollapsearea ul{}
.maincollapsearea ul li {
  margin-left: 20px;
}
.maincollapsearea ul li a{
	color: #FFEC00!important;
	text-transform: capitalize;
	font-size: 16px;
}
.maincollapsearea ul li a:hover{}
.{}
.{}
.{}
.{}
.bannerarea{
	position: relative;
}
.bannerarea video{}
.bannerdetails{
	position: absolute;
	right: 8%;
	top: 10%;
	margin: 0px auto;
	width: 50%;
	background:#222;
	padding:15px;

}
.bannerdetails h2{
	color: #ddd;
}
.bannerdetails p{
	color: #ddd;
}
.nextlevelarrow {
  bottom: 20px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
.nextlevelarrow a{}
.nextlevelarrow a img{
	margin:0px auto;
}



.blockarea{
	padding: 100px 0px;
	background:rgb(243,244,245);
}
.single_blockarea {
  border: 1px solid #222;
  height: 100%;
  min-height: 280px;
  text-align: center;
  width: 100%;
  padding-top: 80px;
		-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}
.single_blockarea img{
	margin:0px auto;
}
.single_blockarea h4{
	color: #222;
}
.single_blockarea:hover{
	border-color:#FFEC00;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}
.singleimageinner{
			-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}
.single_blockarea:hover .overlayblock{
	opacity: 1;
		-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}
.single_blockarea:hover .singleimageinner{
	opacity: 0;
		-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}

.overlayblock{
	text-align: left;
	position: absolute;
	width:100%;
	height: 100%;
	top:0;
	opacity: 0;
	padding: 20px;
		-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;

}
.overlayblock img {
	background: #f3f4f5 none repeat scroll 0 0;
	box-shadow: 0 0 0 10px #f3f4f5;
	left: 0;
	padding: 10px;
	position: absolute;
	right: 0;
	top: -35px;

	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}
.overlayblock h4{}
.overlayblock p{}
.overlayinner {
  width: 90%;
  position: relative;
  top: 40%;
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}


.imagegalleryarea{
	padding: 80px 0px;
}
.imagegtitle{}
.videotitle h2,
.imagegtitle h2 {
  color: #222;
  text-transform: capitalize;
}

.imagegtitle h2 img{
	display: inline-block;
	margin-right:20px;
}

.singleimagegallery{
	background:#6d7993;
}
.singleimagegallery img{
	width:100%;
	height: 100%;
	min-height: 300px;
	margin-bottom: 20px;
		-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}

.singleimagegallery img:hover{
	opacity: 0.8;
		-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	transition: all 0.9s ease 0s;
}

.singleimagegallery p{
	padding: 20px;
	color: #ddd;
}


.videoarea{
	background: #96858f;
	padding: 50px 0px;
}

.videotitle{}
.videotitle img{
	display: inline-block;
	margin-right: 20px;
}

.item video {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.item button {
  background-color: #ffec00!important;
  border: medium none;
  bottom: 17%;
  color: #222;
  display: block;
  font-size: 18px;
  padding: 16px 20px;
  position: absolute;
  right: 0;
  text-align: right;
  text-transform: capitalize;
}

.item button.active {
  background-color: #0077a2;
}


.owl-next{
	background:url('../img/nextarrow.png');
	text-indent: -99999px;
	width:63px;
	height: 66px;
	background-repeat: no-repeat;
	background-color: none!important;
	 right: -8%;
    position: absolute;
 top: 36%;
}

.owl-prev{
	background:url('../img/previousarrow.png');
	text-indent: -99999px;
	width:63px;
	height: 66px;
	background-repeat: no-repeat;
	background-color: none!important;

	 left: -8%;
    position: absolute;
 top: 36%;
}


.contactsarea{
	padding: 50px 0px;
}
.contactsbottom{}
.contactsbottom img{
	float: left;
	margin-right: 15px;
}
.contactdetails {
  display: table;
  padding-top: 20px;
}
.contactdetails address{}


footer{
	background:#222;
	padding: 20px;
}
.sitenamefooter{
	color: #fff;
	text-transform: capitalize;
}
.copyright{
	#fff;
	text-align: right;
	text-transform: capitalize;
}



/*
========================================
 INNER PAGES DESIGN
========================================
*/
.bannerarea2{
	background:url('../img/Image_7.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	width:100%;
	height: 100%;
}
.menu3title{
	padding: 100px 0px;
}
.menu3title h2{
	text-align: center;
	color: #ddd;
	text-transform: capitalize;
	background:rgba(0,0,0,0.7);
	padding: 20px;

}
.menu3detials{
	padding: 50px 0px;
}
.menu3detailinner{}
.menu3detailinner h2{
	color: #222;
	text-transform: capitalize;
}
.menu3detailinner p{}
.menu3detailinnerimage{}
.menu3detailinnerimage img{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}


/**********Responsive style****************/
@media (max-width: 767px) {
.navbar-header{
	text-align: center;
}
.navbar-toggle{
	float: none;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #fff;
}
.maincollapsearea ul {
  text-align: center;
}

.overlayinner {
  position: relative;
  top: 25%;
  width: 90%;
}
.single_blockarea {
  min-height: 300px;
}
.bannerdetails {
  right: 8%;
  top: 5%;
  width: 90%;
	display: none;
}
	.single_blockarea{
	margin-bottom: 50px;
}

.singleimagegallery{
	margin-bottom: 20px;
}

 .item button {
  bottom: 18%;
}

.owl-theme .owl-nav{
	display: none;
}
.sitenamefooter,
.copyright{
	text-align: center;
}
.logo figure a img {
  margin: 0px auto 15px;
}
.sitename h4 {
  text-align: center;
}
.videotitle h2, .imagegtitle h2 {
  font-size: 22px;
}

}

/* iphone (small mobile) ----------- */
@media only screen and (min-width: 240px) and (max-width: 320px) {


}

@media only screen and (min-width: 320px) and (max-width: 480px) {


}



@media (min-width: 768px) and (max-width: 991px) {
 .item button {
  bottom: 18%;
}
.singleimagegallery img {
  min-height: 200px;
}
.bannerdetails {
  right: 8%;
  top: 8%;
  width: 90%;
}

.overlayinner {
  position: relative;
  top: 25%;
  width: 90%;
}
.single_blockarea {
  min-height: 300px;
}

.owl-theme .owl-nav{
	display: none;
}
}




@media (min-width: 992px) and (max-width: 1199px) {
 .item button {
  bottom: 23%;
}

.owl-theme .owl-nav{
	display: none;
}
}


@media (min-width: 1200px) {

.owl-theme .owl-dots {
  text-align: center;
  display: none;
}

}
